@font-face {
    font-family: 'MAIN-EB';
    src: url('/resources/wiz/plugin/theme/font/nanumsquareround/EB.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'MAIN-R';
    src: url('/resources/wiz/plugin/theme/font/nanumsquareround/R.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}